---
import BuyList from '../components/BuyList.tsx';
const buyList = [
    'Controller',
    'Bread',
    'Water',
    'Notebook',
    'Math Book',
    'Choco Bar',
    'Milk'
];
---

<main>
    <h1>Compras de la semana</h1>
    <BuyList buyList={buyList} />
</main>

<style>

    main {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px;
    }
    
    h1 {
        margin-bottom: 10px; 
        font-size: 1.5rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px; 
    }
    
    li {
        margin-bottom: 5px; 
    }
</style>
