---
import CounterButton from '../components/CounterButton';
---

<main>
    <CounterButton client:only/>
</main>

<style>
    main {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
    }

    button {
        padding: 10px 20px; 
        font-size: 1.2rem; 
        border-radius: 5px; 
        width: 200px; 
        height: 60px; 
        display: block; 
    }
</style>







