---
import RandomAvatarCard from '../components/RandomAvatarCard';
---

<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <main>
        <RandomAvatarCard />
    </main>
</body>

